.page {
    margin: 0 auto;
    max-width: 1440px;
    
}

.gallery-slider-wrapper {
    position: relative;
    overflow-x: hidden;
    max-width: 1280px;
}
.wrapper-gallery {
    display: flex;
}



/* .gallery-slider-wrapper {
    position: relative;
}

.gallery-slider {
    display: flex;
} */

/* .wrapper-image {
    flex: 1;
} */
